@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  --scroll: #ae2f36;

  --accent: var(--scroll);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161a39; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae2f36; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
.experience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121738;
}

canvas {
  touch-action: none;
}

.htmlScreen iframe .videoplayer {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: #000000;
  touch-action: none;
}

@media (max-width: 600px) {
  .htmlScreen .videoplayer {
    width: 100vw;
    height: 100%;
  }
}

.progress-wheel {
  position: fixed;
  top: 20px;
  right: 20px;
  transform: rotate(-90deg);
}

.progress-wheel circle {
  stroke-dashoffset: 0;
  stroke-width: 30%;
  fill: none;
}

.progress-wheel .bg {
  stroke: var(--accent);
  opacity: 0.8;
}

.progress-wheel .progress {
  stroke: var(--accent);
  stroke-dasharray: 0, 1;
}
.hero-title {
  position: relative;
  animation: move 5s ease-in-out;
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
